<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>

<connectionStrings>
    <add name="Deskoper.Properties.Settings.DesktoperConnectionString" connectionString="Data Source=localhost;Initial Catalog=Desktoper;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Deskoper.Properties.Settings.DesktoperConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Desktoper.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="Deskoper.Properties.Settings.dataConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\data.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
